@{
    ViewData["Title"] = "Home Page";
}

<ul class="gigs">
    <li>
        <div class="date">
            <div class="month">
                Nov
            </div>
            <div class="day">
                20
            </div>
        </div>

        <div class="details">
            <span class="artist">Galal Shaban</span>
            <span class="genre">Rock</span>
        </div>
    </li>
</ul>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
