/* Bootstrap Overrides */

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}


.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

span.field-validation-error {
    color: red;
}